#page-wrapper{
	padding-top: 20px !important;
	overflow-y: scroll; 
	padding-bottom: 40px !important;
}

.clsDatePicker {
    z-index: 100000;
}

.nopadding{
	margin : 0 !important;
	padding : 0 !important;
}

.nopadding-left{
	margin-left : 0 !important;
	padding-left: 0 !important;
}
.nopadding-right{
	margin-right : 0 !important;
	padding-right: 0 !important;
}

.detil-program{
	display: table;
	left: 0 !important;
}
